[Unit]
Description=systemd does it all, it even makes coffee!
After=systemd-journald.service

[Service]
ExecStart=/usr/bin/systemd-coffeed
ExecReload=/usr/bin/systemd-coffeed
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
